$color-white: #f2f2f2;
$color-light: #a8dba8;
$color-medium: #79bd9a;
$color-dark: #3b8686;
$color-accent: #cff09e;

$color-danger: #f2dede;
$color-success: #dff0d8;
$color-info: #d9edf7;
$color-warning: #fcf8e3;

$font-light: $color-light;
$font-medium: $color-medium;
$font-dark: $color-dark;
$font-accent: $color-accent;

$border-light: $color-light;
$border-medium: $color-medium;
$border-dark: $color-dark;
$border-accent: $color-accent;

$anchor-light: $color-light;
$anchor-medium: $color-medium;
$anchor-dark: $color-dark;
$anchor-accent: $color-accent;

$background-light: $color-light;
$background-medium: $color-medium;
$background-dark: $color-dark;
$background-accent: $color-accent;
