@import '../../../style/theme/_colors.scss';

$color-white: #fff;

nav {
    padding: 15px 0;
    margin-bottom: 30px;
    color: $color-white;
    background: $background-medium;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, .3);

    h1 {
        font-size: 1.4em;
        margin-bottom: 0;
        color: $color-white;
    }
    ul {
        list-style: none;
        margin-bottom: 0;
    }
    li {
        margin-bottom: 0;
        margin-right: 10px;
        display: inline-block;

        &:last-child {
            margin-right: 0;
        }
    }
    a {
        color: $color-white;
        text-decoration: none;
    }
}